* {
    box-sizing: border-box;
    font-family: 'Quicksand';
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: rgb(71, 71, 71);
}

:root {
    --height: fit-content;
    --background-color: #e0e0e0;
    --padding: 20px;
    --margin-bottom: 10px;
}

body {
    margin-top: 300px;
    background-image: url(images/background1_1.jpg);
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    padding-bottom: 10px;
    font-size: 1.1rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: Roboto Mono;
    line-height: 1.6;
}

/* Style the navigation menu */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #d7ccc8;
}
  
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #ffebee;
    color: rgb(71, 71, 71);
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
/* Style navigation menu links */
#myLinks a {
    color: rgb(71, 71, 71);
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
    padding: 24px 26px;
    text-decoration: none;
}

/* Style the login menu */
.firstIcon {
    display: block;
    position: absolute;
    right: 65px;
    top: 0;
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
    padding: 24px 26px;
    text-decoration: none;
}
  
/* Add a grey background color on mouse-over */
#myLinks a:hover {
    background-color: #a69b97;
    color: #fffffb;
}

.active:hover, .firstIcon:hover, .icon:hover {
    background-color: #ccb9bc;
    color: rgb(71, 71, 71);
}

#div1, #div2 {
    height: var(--height);
    background-color: var(--background-color);
    padding: var(--padding);
    margin-bottom: var(--margin-bottom);
}

/* Styling the calendar*/
.calendar {
    width: 30rem;
    height: fit-content;
    background-color: #fffffb;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.4);
}

.month {
    width: 100%;
    height: fit-content;
    background-color: #a69b97;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    text-align: center;
    text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.month i {
    font-size: 1.5rem;
    cursor: pointer;
}

.month h3 {
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.6rem;
}

.month p {
    font-size: 0.8rem;
    color: white;
}

.weekdays {
    width: 100%;
    height: 3rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(29.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    margin: 0.2rem;
    width: calc(26.8rem/7);
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #d7ccc8;
    border: 0.1rem solid #a69b97;
    cursor: pointer;
}

.prev-date, .next-date {
    opacity: 0.5;
}

.today {
    background-color: #d7ccc8;
}
/* Styling calendar ends*/

#div3 {
    height: var(--height);
    background-color: white;
    padding: var(--padding);
    margin-bottom: var(--margin-bottom);
}

#div3 form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    display: flex;
    height: 80px;
    padding-top: auto;
    padding-bottom: auto;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

#socialmedia {
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

#socialmedia > li {
    list-style-type: none;
}

/* .social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    transition: all .25s;
} */

.copyright {
    margin-left: 20px;
    font-size: 12px;
}

/* rekisterointi.html tyylit */
.register {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
}
.register h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.register form {
    padding-top: 20px;
}

.register form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 44px;
}

.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"],
#div3 form input[type="text"],
#div3 form input[type="email"],
#div3 form textarea {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 30px;
    padding: 0 10px;
}
.register form input[type="submit"],
#div3 form input[type="submit"] {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #d7ccc8;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: rgb(71, 71, 71);
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover,
#div3 form input[type="submit"]:hover {
    background-color: #a69b97;
    transition: background-color 0.2s;
    color: white;
}

/* login.php tyylit */
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
}
.login h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #d7ccc8;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #d7ccc8;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: rgb(71, 71, 71);
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
    background-color: #a69b97;
    transition: background-color 0.2s;
    color: white;
}

.linkki {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

#linkki {
    text-decoration: none;
}